<script src="static/transactions_add_txfee.js"></script>
<div class="mdc-tooltip-wrapper--rich">
    <span class="mdc-typography--healine5"
          aria-describedby="tt0">
        Transation Fee
    </span>
    <div id="tt0" class="mdc-tooltip mdc-tooltip--rich" aria-hidden="true" role="tooltip">
        <div class="mdc-tooltip__surface mdc-tooltip__surface-animation">
            <div class="mdc-tooltip__content">
                <p>
                    Use the <strong>Transaction Fee</strong> transaction type to register
                    common fee's payed not linked to a trade. These coule be:
                </p>
                <u>
                    <li>Deposit / withdrawal fee's</li>
                    <li>Transaction fee's of sending crypto between wallets</li>
                </u>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var mdcTooltip = new mdc.tooltip.MDCTooltip(document.querySelector('.mdc-tooltip'));
</script>