{{ define "register" }}

<body hx-boost="true"
      class="page-register d-flex align-items-center py-4 bg-body-tertiary">

    <script src="/static/js/bcrypt-v3.0.2.js"></script>
    <script src="/static/js/fast-password-entropy.js"></script>

{{ template "Components/ThemeChooser" . }}

    <main class="page-register form-register w-100 m-auto">
        <form action="/register/admin" method="post" hx-boost="false" onsubmit="onBeforeFormSubmit(event, this);">
            <img class="mb-4" src="/static/img/logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Create the admin user</h1>

            <div class="form-floating form-group">
                <input 
                    type="email" id="email" name="email"
                    class="form-control {{ if hasKey .Errors "email" }}is-invalid{{ else if ne (get .Data "Email") "" }}is-valid{{ end }}"
                    placeholder="name@example.com"
                    hx-post="/register/.validate?f=email"
                    hx-trigger="change, keyup delay:200ms changed, focusout, input"
                    hx-target="next .help-block"
                    hx-on::after-request="formInputErrorCheck('email');"
                    value="{{- .Data.Email -}}"
                >
                <label for="email">Email address</label>
            </div>
            <div class="form-floating form-group">
                <input 
                    type="password" id="password" name="password"
                    class="form-control {{ if hasKey .Errors "password" }}is-invalid{{ end }}"
                    placeholder="Create Password"
                    hx-post="/register/.validate?f=password"
                    hx-trigger="change, keyup delay:200ms changed, focusout, input"
                    hx-target="next .help-block"
                    hx-on::after-request="formInputErrorCheck('password');"
                >
                <label for="password">Create Password</label>
            </div>
            <div class="form-floating form-group">
                <input
                    type="password" id="passwordConfirm" name="passwordConfirm"
                    class="form-control"
                    placeholder="Confirm Password"
                    hx-post="/register/.validate?f=passwordConfirm"
                    hx-trigger="change, keyup delay:200ms changed, focusout, input"
                    hx-target="next .help-block"
                    hx-on::after-request="formInputErrorCheck('passwordConfirm');"
                >
                <label for="passwordConfirm">Confirm Password</label>
            </div>

            <button class="submit-button btn btn-primary w-100 py-2" type="submit" disabled>
                <span class="visually-hidden spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status">Continue</span>
            </button>

            <div class="help-block {{ if ne (errorList .) "" }}form-error-message{{ end }}">{{- errorList . -}}</div>
        </form>
    </main>
</body>

{{ end }}